.button {
  padding: 0.8rem 1rem;
  font-size: 1.3em;
  width: 100%;

  border: none;
  border-radius: 5px;

  color: #2a2a2a;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.2s all none;
  }
}

.NORMAL {
  background: #eff0f3;
}

.ORANGE {
  background: #ff8e3c;
  color: #ffffff;
}
