.card {
  background: #fffffe;

  width: 100%;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__header {
    border-bottom: 2px solid #eff0f3;
    text-align: center;

    & h2 {
      padding: 0.5rem;
      font-weight: 400;
    }
  }

  &__body {
    padding: 2rem;
    text-align: center;
  }

  /***** Card size *****/

  &__small {
    max-width: 300px;
    /* min-height: none; */
  }

  &__large {
    max-width: 400px;
  }
}
